body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, black, yellow);
    margin: 0;
    position: relative;
    overflow: hidden;
}

.message-container {
    font-size: 2em;
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 30%;
}

.falling-logo, .falling-logo-1 {
    background-color: transparent;
}

.falling-logo {
    position: absolute;
    top: -100px;
    left: 10%;
    transform: translateX(-50%);
    width: 100px;
    animation: fall 3s linear infinite;
}

.falling-logo-1 {
    position: absolute;
    top: -100px;
    left: 20%;
    transform: translateX(-50%);
    width: 200px;
    animation: fall 5s linear infinite;
}


.falling-logo-2 {
    position: absolute;
    top: -100px;
    left: 90%;
    transform: translateX(-50%);
    width: 200px;
    animation: fall 3s linear infinite;
}


.falling-logo-3 {
    position: absolute;
    top: -100px;
    left: 80%;
    transform: translateX(-50%);
    width: 100px;
    animation: fall 5s linear infinite;
}

@keyframes fall {
    0% {
        top: -100px;
    }
    100% {
        top: 100vh;
    }
}
